<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style type="text/css">
        .imgbook {
            transition: all 1s ease-in;
            width: 400px;
        }

            .imgbook: hover {
                transform: scale(0.9);
                cursor: pointer;
            }

        .imgsachbannhieu {
            width: 100px;
        }

        .book-desc {
            display: -webkit-box;
            overflow: hidden;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
        }
    </style>
    @RenderSection("customStyles", required: false)
</head>
<body>

    <!-- Navbar -->
    @Html.Action("NavParital", "SachOnline")

    <!-- Slider -->
    @Html.Action("SliderPatial", "SachOnline")
    <!-- Phần thân trang -->
    <div class="container">
        <div class="row">
            <!-- CHỦ ĐỀ và NHÀ XUẤT BẢN -->
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <!--CHỦ ĐỀ và NHÀ XUẤT BẢN-->
                @Html.Action("ChuDePartial", "SachOnline")
                <br>
                @Html.Action("NhaXuatBanPartial", "SachOnline")


            </div>

            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                @RenderBody()
            </div>
            <!-- Sản phẩm bán nhiều -->

            @RenderSection("SachBanNhieu", required: false)

            <!-- Sản phẩm 4, 5, 6 -->

        </div>
        <hr>
    </div>


    <!-- Footer -->
    <footer class="container well">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-6 text-center">
                <p>&copy; @DateTime.Now.Year - Nhà sách ABC. Alright Reserved</p>
                <p>Website được phát triển để sử dụng làm bài tập thực hành môn Lập trình Web</p>
                <p>Email: 2124802010521@student.tdmu.edu.vn</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <h5>Số lượng truy cập: @ApplicationInstance.Application["HitCounter"]</h5>
                <h5>Số lượng online: @ApplicationInstance.Application["Online"]</h5>
            </div>
        </div>
    </footer>
    <!-- Custom scripts -->
    @RenderSection("customScripts", required: false)
    @RenderSection("scripts", required: false)
</body>
</html>
